<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>EMA</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      
  </head>
  <body>
      <div class="container">
      <!-- Fixed Nav Bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                     <a class="navbar-brand" href="/" style="font-weight:bold; color:black; ">EMA</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">&nbsp;&nbsp;</a></li>
                        <li><a href="/equipment/kameras">Kameras</a></li>
                        <li><a href="/equipment/beleuchtung">Beleuchtung</a></li>
                        <li><a href="/equipment/ton">Ton</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/users">Mitarbeiter</a></li>
                        <li><a href="/nachrichtFaye">Nachrichten</a></li>
                        <li><a href="/updateProfile">Deine Seite</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
      <!--Fixed Nav Bar -->

	  <!-- Main -->
    <div class="jumbotron">
      <div class="container">
        <h1>Nachrichten</h1>
        <p>Hier kannst du eine Nachricht verfassen!</p>
      </div>
    </div>
  
  <body>
	<script type="text/javascript" src="http://localhost:8000/faye/client.js"></script>

	<h1> Neue Nachricht </h1>  <!--Testtext-->
	<label for="author">Name:</label> 
	<input id="author" type="text">
	<br>

	<label for="content">Nachricht:</label>
	<input id="content" type="text">
	<br>

	<button id="sendBtn" type="Button" onclick="publishMsg()">Senden</button> <!--onlcikeventlistener macht den publish am ende-->

	<script>
		var client =new faye.Client("http://localhost:8000/faye");
		function publishMsg(){
			var publication = client.publish('/nachrichten' , {
				"author": document.getElementById('author'),
				"content": document.getElementById('content') 
			});
			publication.then(
				function(){
					console.log("Nachricht wurde versendet.");
				}
				,
				function(){
					console.log("Nachricht wurde nicht versendet.");
				}
			);
	};
	</script>

</body>
</html>

<!--subscriber also empfänger-->

<html>

<body>
		<h1> >News Reader </h1>

		<div id="messages"></div> <!--empfangene Daten-->

		<script type="text/javascript" src="http://localhost:8000/faye.client.js"></script>
		<script>
			var client = new Faye.Client('http://localhost:8000/faye');
			var subscription = client.subscribe('/nachrichten', function (message) {
				var dic = document.getElementById('messages');
				div.innerHTML += "<p> Autor:" + ´message.author + "<br> Content: " + message.content + "</p>";
			});
		</script>

</body>
</html>

      <footer>
        <p>&copy; EMA - Sommersemester 2016</p>
      </footer>
      </div>  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
          
                
      

